@import "src/theme/theme-variables";
#home {
  color: $gray-600;
}
.page-title {
  margin-bottom: $margin-s;
}

input, button {
  background-color: $gray-800;
  color: $gray-600;
  text-align: center;
}

button {
  margin: $margin-button;
  border-color: $gray-800;
  color: $white;
}

.block {
  border-bottom: $border;
  border-color: $gray-300;
  padding: $padding-l 0;
}

.plan {
  border-left: $border $gray-300;
  border-right: $border $gray-300;
  margin: $margin-s 0;
}

.plan:first-child {
  border-left: 0;
}

.plan:last-child {
  border-right: 0;
}

.integer {
  font-size: 2em;
  font-weight: bold;
}

.footer {
  margin-top: $margin-s
}

table {
  margin: 0;
}

tr {
  background-color: $gray-300
}